<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
  </head>
  <body>
    <section id="forgot-password">
      <div class="container mt-5">
        <form
          [formGroup]="ForgotPasswordform"
          (ngSubmit)="sendCode(ForgotPasswordform.value)"
        >
          <div class="row">
            <div class="col-md-8 m-auto">
              <div class="layer bg-light shadow p-5">
                <div class="mb-3">
                  <label for="email" class="form-label">email</label>
                  <input
                    type="text"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Enter Your Email"
                  />
                </div>
                <div>
                  <button class="btn btn-primary">SendCode</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
