<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
  </head>
  <body>
    <section id="forgot-password">
      <div class="container">
        <form
          [formGroup]="forgotPassword"
          (ngSubmit)="sendCode(forgotPassword.value)"
        >
          <div class="row my-5">
            <div class="col-md-8 m-auto p-5">
              <div class="layer bg-light shadow p-5">
                <div class="mb-3">
                  <label for="" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    name="email"
                    id="email"
                    aria-describedby="helpId"
                    placeholder="Enter Your Email"
                  />
                </div>
                <div>
                  <button class="btn bg-main text-light">Send Code</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
