<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wishlist</title>
  </head>
  <body>
    <section id="wishlist">
      <div class="container">
        <div class="row">
          <div class="col-md-10 m-auto">
            <div class="row" *ngFor="let item of wishList">
              <div class="col-md-2 d-flex align-items-center">
                <img
                  [src]="item?.imageCover"
                  class="w-100"
                  [alt]="item?.title"
                />
              </div>
              <div
                class="col-md-10 d-flex justify-content-between align-items-center"
              >
                <div>
                  <span>
                    <p>{{ item?.title }}</p>
                    <p>{{ item?.price | currency : "EGP" }}</p>
                  </span>
                  <button
                    (click)="removeProductFromWishList(item?._id)"
                    class="btn btn-outline-danger"
                  >
                    Remove <i class="fas fa-trash"></i>
                  </button>
                </div>
                <div>
                  <button
                  (click)="addProductToCart(item?._id)"
                  class="btn btn-outline-success"
                >
                  Add To Cart <i class="fas fa-shopping-cart"></i>
                </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
